/* BallPill */
@font-face {
    font-family: 'BallPill';
    src: 
    /* url('https://github.com/andrea-seyes/m3arteko/blob/3f466496aebb8b4839836f801891a86c14455fc7/BallPill/BallPill-regular.woff') format('woff'),
    url('https://github.com/andrea-seyes/m3arteko/blob/3f466496aebb8b4839836f801891a86c14455fc7/BallPill/BallPill-regular.woff2') format('woff2'), */
    url("https://github.com/andrea-seyes/m3arteko/blob/3f466496aebb8b4839836f801891a86c14455fc7/BallPill/BallPill-regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

/* Graphie */
@font-face {
    font-family: 'Graphie';
    src: 
    url('./Graphie/Graphie-Italic.woff') format('woff'),
    url('./Graphie/Graphie-Italic.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: auto;
}
@font-face {
    font-family: 'Graphie';
    src: url('./Graphie/Graphie-Regular.woff') format('woff'),
    url('./Graphie/Graphie-Regular.woff2') format('woff2');
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

:root {
    --header-font: "BallPill", sans-serif !important;
    --text-font: "Graphie", sans-serif ;
}

/* BallPill typography */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
  text-transform: none !important;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}
header .logo {
  font-family: var(--header-font);
  text-align: left;
}
.welcome_image .welcome-subheader {
  font-family: var(--header-font);
  font-weight: 600;
  letter-spacing: 0.2em;
  line-height: 1.25em;
  text-transform: none !important;
}
.product-container .product-subheader {
  font-size: 20px;
  line-height: 30px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-weight: bold;
  font-family: var(--header-font);
  text-transform: none !important;
  letter-spacing: 0.2em;
  text-indent: 0.2em;
}
.product-artists {
  font-family: var(--header-font);
  letter-spacing: 0.1em;
  text-transform: none !important;
}
.product-section-subheader {
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  text-transform: none !important;
  font-family: var(--header-font);
  font-weight: bold;
  letter-spacing: 0.2em;
}
.pagination {
  border-top: 1px solid var(--border-color);
  font-family: var(--header-font);
  text-transform: none !important;
}

/* Graphie */
body {
    color: var(--text-color);
    font: normal 100%/1.5 var(--text-font);
    -webkit-font-smoothing: antialiased;
  }
  header {
    font-family: var(--text-font);
    font-weight: 600;
    height: var(--header-height);
    width: 100%;
    z-index: 99;
  }


/* Image Aspect Ratio */
.product-list-image-container {
  aspect-ratio: 3/4;
}

/* Productos sin precio */
@media only screen and (max-width: 800px) {
  .Sinprecio.product-container h1 { margin-bottom: 16px;}
}
.Sinprecio.product-container h1{ margin-bottom: 64px;}
.Sinprecio.product-container .product-subheader{ display: none;}
.Sinprecio.product-container .product-form{ display: none;}
.Sinprecio.product-container .product-section-subheader{ display: none;}
.Sinprecio.product-container .product-availability{ display: none;}
/* .Sinprecio.product-container .product-section-subheader{ display: none;} */

